<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Note: Debug settings are configured in IIS directly for ASP Classic -->
    <!-- IIS Manager -> Sites -> TechlightMyDesk -> ASP -> Debugging Properties -->
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="ASPClassic" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
        <!-- Note: ASP settings configured in IIS Manager -> Sites -> TechlightMyDesk -> ASP -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Debug" value="true" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
