<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Note: Debug settings are configured in IIS directly for ASP Classic -->
    <!-- IIS Manager -> Sites -> TechlightMyDesk -> ASP -> Debugging Properties -->
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="default.asp" />
                <add value="index.asp" />
                <add value="default.aspx" />
                <add value="index.aspx" />
                <add value="default.htm" />
                <add value="index.htm" />
                <add value="default.html" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="ASPClassic" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/errors/500-100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <asp scriptErrorSentToBrowser="true" />
        <httpProtocol>
            <customHeaders>
                <add name="X-Debug" value="true" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
