@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">Keyboard Shortcuts</MudText>
    </TitleContent>
    <DialogContent>
        <MudSimpleTable Dense="true" Hover="true" Striped="true">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Shortcut</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Open search</td><td><MudChip T="string" Size="Size.Small">Alt + K</MudChip></td></tr>
                <tr><td>Go to Dashboard</td><td><MudChip T="string" Size="Size.Small">Alt + H</MudChip></td></tr>
                <tr><td>Go to Settings</td><td><MudChip T="string" Size="Size.Small">Alt + ,</MudChip></td></tr>
                <tr><td>Toggle sidebar</td><td><MudChip T="string" Size="Size.Small">Alt + B</MudChip></td></tr>
                <tr><td>Create new item</td><td><MudChip T="string" Size="Size.Small">Alt + N</MudChip></td></tr>
                <tr><td>Save</td><td><MudChip T="string" Size="Size.Small">Alt + S</MudChip></td></tr>
                <tr><td>Show keyboard shortcuts</td><td><MudChip T="string" Size="Size.Small">?</MudChip></td></tr>
            </tbody>
        </MudSimpleTable>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] public MudDialogInstance MudDialog { get; set; } = null!;
    private void Close() => MudDialog.Close();
}