<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.mydesk.com.au</SiteUrlToLaunchAfterPublish>
    <publishUrl>E:\Builds\MyDeskASPNet</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="ABCpdf.DLL">
      <publishTime>09/23/2012 21:19:39</publishTime>
    </File>
    <File Include="bin/ABCpdf.dll">
      <publishTime>09/23/2012 21:20:11</publishTime>
    </File>
    <File Include="bin/ABCpdf.tlb">
      <publishTime>09/10/2012 20:41:46</publishTime>
    </File>
    <File Include="bin/ABCpdf8-64.dll">
      <publishTime>09/10/2012 20:42:18</publishTime>
    </File>
    <File Include="bin/Microsoft.ScriptManager.jQuery.dll">
      <publishTime>08/01/2012 23:31:39</publishTime>
    </File>
    <File Include="bin/Microsoft.ScriptManager.jQuery.UI.Combined.dll">
      <publishTime>08/01/2012 23:31:39</publishTime>
    </File>
    <File Include="bin/MyDeskASPNet.dll">
      <publishTime>10/20/2012 19:06:54</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>08/01/2012 23:31:39</publishTime>
    </File>
    <File Include="GenerateDeliveryNote.aspx">
      <publishTime>10/14/2012 19:00:21</publishTime>
    </File>
    <File Include="GenerateInvoice.aspx">
      <publishTime>10/01/2012 01:55:42</publishTime>
    </File>
    <File Include="GeneratePurchaseOrder.aspx">
      <publishTime>10/14/2012 18:57:32</publishTime>
    </File>
    <File Include="GenerateQuote.aspx">
      <publishTime>09/23/2012 21:57:16</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>09/09/2012 18:34:00</publishTime>
    </File>
    <File Include="ScrapeToPDF.aspx">
      <publishTime>09/23/2012 21:04:04</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>10/14/2012 18:20:55</publishTime>
    </File>
  </ItemGroup>
</Project>