<configuration>
	<appSettings>
	</appSettings>
	<system.web>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-AU" uiCulture="en-AU" />
		<customErrors allowNestedErrors="true" defaultRedirect="/Errors/500-100.asp" mode="On">
		</customErrors>
		<httpRuntime maxRequestLength="2097151" executionTimeout="36000" />
		<compilation debug="true" targetFramework="4.0" />
		<identity impersonate="false" />
		<xhtmlConformance mode="Legacy" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="cache-control" value="no-cache" />
			</customHeaders>
		</httpProtocol>
		<urlCompression doDynamicCompression="true" />
		<httpErrors errorMode="Detailed">
            <remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="500" prefixLanguageFilePath="" path="/errors/500-100.asp" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/errors/500-100.asp" responseMode="ExecuteURL" />
		</httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="Index.asp" />
                <add value="Index.html" />
                <add value="Index.htm" />
                <add value="Index.cfm" />
                <add value="Index.shtml" />
                <add value="Index.shtm" />
                <add value="Index.stm" />
                <add value="Index.php" />
                <add value="Index.php3" />
                <add value="Index.aspx" />
                <add value="Default.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>

 
         <rule name="https to http" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
                <add input="{HTTP}" pattern="^OFF$" />
            </conditions>
            <action type="Redirect" url="http://{HTTP_HOST}/{R:1}" />
        </rule>
 


            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
        </staticContent>
	</system.webServer>
</configuration>
