body, p, td, th
{
	font-family: Arial;
	font-size: 12px;
}

legend 
{
	color: Black;
}

#pageLabel 
{
	color: #000000;
}

.Header
{
	font-family: Tahoma;
	font-size: 28px;
}

.Header2
{
	font-family: Tahoma;
	font-size: 18px;
	color: Teal;
}

.Header3
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.Header4
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

A.Header3, A:Link.Header3, A:Visited.Header3, A:Active.Header3, A:Hover.Header3
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

A,A:Link,A:Hover,A:Visited,A:Active 
{
	color: #000077;
}

.Error 
{	
	text-align: center;
	color: white;
	font-weight: bold;	
}

.Req
{	
	color: Red;
	font-weight: bold;
}

input, select, textarea 
{
	font-family: arial;
	font-size:12px;
	border-style: outset;
}

.HeaderRow {
	font-weight:bold;
	color:black;
	text-align:left;
	vertical-align:top;
	border-top:2px solid black;
	border-bottom:2px solid black;
	font-style:italic;
}
.TimesItalicBold, .HeaderRow {
	font-family: times new roman;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}
.TimesHeader {
	font-family: times new roman;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}

HR 
{
	border: 2px solid black;	
}

.ListHeaderRow
{
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #ebeadb;
	color: black;
}
