body 
{
	Margin: 0px 0px 0px 0px;
}

body, p, td, th
{
	font-family: Arial;
	font-size: 12px;
	color: White;
}

legend 
{
	color: White;
}

strong
{
	font-size: 12px;
}

.Header 
{
	font-family: Tahoma;
	font-size: 28px;
}

.Header2
{

	padding-left: 3px;
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

.Header3
{
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

A.Header3, A:Link.Header3, A:Visited.Header3, A:Active.Header3
{
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.ButtonLink, A.ButtonLink, A:Hover.ButtonLink, A:Link.ButtonLink, A:Visited.ButtonLink, A:Active.ButtonLink
{
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	color: #ffffff;
}

A,A:Link,A:Hover,A:Visited,A:Active 
{
	color: #000077;
	font-weight: bold;
}

.Error 
{	
	text-align: center;
	color: white;
	font-weight: bold;
}

.Req
{	
	font-size: 14px;
	color: #FAC089;
	font-weight: bold;
}

input, select, textarea 
{
	font-family: arial;
	font-size:12px;
	border-style: outset;
}