.Quote_Item_TD 
{
	border-bottom: 1px solid gray;
	vertical-align:top;
}

.Quote_TD1
{
	border-bottom: 1px solid #333333;
	background-color: #cccccc;
}

.Quote_TD2
{
	background-color: #F5F5F5;
	border-bottom: 1px solid gray;
	font-weight: bold;
}

.Quote_Sub_Total_Field 
{
	height:20px;border-top:2px solid black;border-bottom:1px solid black;border-left:0px;border-right:0px;text-align:right;	
}

.Quote_Total_Field 
{
	height:20px;border-top:2px solid black;border-bottom:2px solid black;border-left:0px;border-right:0px;text-align:right;	
}

.TDAReq 
{
	color: Red;	
}