body
{
	Margin: 0px 0px 0px 0px;
}

#pageLabel, .pageLabelTD
{
	color: Black;
}

body, p, td, th
{
	font-family: Arial;
	font-size: 12px;
	color: Black;
}

legend, fieldset
{
	border-color: Black;
	border-width: 1px;
	color: Black;
}

strong
{
	font-size: 12px;
}

.Header
{
	font-family: Arial;
	font-size: 16px;
}

.Header2, A.Header2, A:Link.Header2, A:Visited.Header2, A:Active.Header2, A:Hover.Header2
{
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.Header3
{
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

A.Header3, A:Link.Header3, A:Visited.Header3, A:Active.Header3
{
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.ButtonLink, A.ButtonLink, A:Hover.ButtonLink, A:Link.ButtonLink, A:Visited.ButtonLink, A:Active.ButtonLink
{
	font-family: Tahoma;
	font-size: 9px;
	font-weight: bold;
	color: #ffffff;
}

.Link2, A.Link2, A:Hover.Link2, A:Link.Link2, A:Visited.Link2, A:Active.Link2
{
	color: #000666;
}

A, A:Link, A:Hover, A:Visited, A:Active
{
	color: #000000;
	font-weight: bold;
}

.Error
{
	text-align: center;
	color: red;
	font-weight: bold;
}

.Req
{
	font-size: 14px;
	color: red;
	font-weight: bold;
}

input, select
{
	font-family: arial;
	font-size:12px;
	border-style: outset;
}

textarea
{
	font-family: arial;
	font-size:12px;
	border-style: outset;
	width: 280px;
}

.ListHeaderRow
{
	font-weight: bold;
	border-bottom: 1px solid white;
	background-color: #cccccc;
	color: black;
}
